.vehicle_container{
    width: 100%;
}

.vehicles{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* Responsivenes css starts */
@media only screen and (max-width: 960px) {
    .vehicles{
        display: block;
        width: 50%;
    }
} 

